<!-- reviews/templates/reviews/reviews.html -->


<!DOCTYPE html>

<html>
<head>
    <title>Amazon Reviews</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='js/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/reviews.js') }}"></script>
</head>
<body>
    <h1>Amazon Reviews</h1>
    {% for review in reviews %}
    <div style="display: flex; align-items: center;">
        <div class="review-container" style="display: flex; align-items: center;">
            <img src="{{ review.image_path }}" alt="Score Image" style="width: 60px; height: auto; margin-right: 10px;">
            <div>
<!--                <p>Score: {{ review.score }}</p>-->
                <p>Title: {{ review.title }}</p>
                <p>City: <a href="#" data-toggle="popover" title="City Details" data-content="{{ review.city_details|safe }}">{{ review.city }}</a></p>
                <p>Review: {{ review.review }}</p>
                <hr>
            </div>
        </div>
    </div>
    {% endfor %}

<!-- 分页链接 -->
<div class="pagination" style="display: flex; justify-content: center;">
    {{ pagination.links }}
</div>
</body>
</html>


